In [2]:
import scrape
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
import pandas as pd

df = pd.DataFrame([
    [0,1,0,0],
    [0,0,1,1],
    [0,0,0,1],
    [0,0,1,0],
], index=["A", "B", "C", "D"], columns=["A", "B", "C", "D"])
df

   A  B  C  D
A  0  1  0  0
B  0  0  1  1
C  0  0  0  1
D  0  0  1  0

In [4]:
m = scrape.MatrixSearcher(df)
m.dfs_search("B")
m.order

m.dfs_search("C")
m.order

['C', 'D']

In [5]:
n = scrape.MatrixSearcher(df)
n.bfs_search("B")
n.order

['B', 'C', 'D']

In [6]:
f = scrape.FileSearcher()
print(f.go("1.txt"))
print(f.order)

['2.txt', '4.txt']
['M']

In [7]:
f = scrape.FileSearcher()
f.bfs_search("1.txt")
f.message()

'MADCITY'

In [8]:
#http://35.223.40.184:5000

In [26]:
import os
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service
from selenium import webdriver
import scrape

# kill previous chrome instance if still around (to conserve memory)
os.system("pkill -f -9 chromium")

options = Options()
options.headless = True
service = Service(executable_path="chromium.chromedriver")
driver = webdriver.Chrome(options=options, service=service)

# TODO: use IP address of your VM
start_url = "http://35.223.40.184:5000/Node_1.html"

s = scrape.WebSearcher(driver)
#print(s.go(start_url))

s = scrape.WebSearcher(driver)
s.bfs_search(start_url)
#print(s.order)


#print(s.table())
df = s.table()

df

#driver.close()

    clue   latitude   longitude                          description
0      1  43.089034  -89.416128              Picnic Point in Madison
1      7  38.105507  126.910613               Silver Beach in Hawaii
2      1  65.044901  -16.712836  Shore of a Volcanic Lake in Iceland
3      3  48.860945    2.335773                  The Louvre in Paris
4      8  51.180315   -1.829659                 Stonehenge in the UK
5      5  37.434183 -122.321990      Redwood forest in San Francisco
6      2  27.987586   86.925002                 Mt. Everest in Nepal
7      4  34.134117 -118.321495                 Hollywood Sign in LA
8      5  38.655100   90.061800                 Cahokia Mounds in IL
9      9  40.748400   73.985700          Empire State Building in NY
10     4  29.975300   31.137600        Great Sphinx of Giza in Egypt
11     1  47.557600   10.749800     Neuschwanstein Castle in Germany
12     5  38.624700   90.184800        The Gateway Arch in St. Louis
13     3  30.328500   35.444400                      Petra in Jordan
14     2  41.480800   82.683400                    Cedar Point in OH
15     6  43.070010  -89.409450          Quick Trip on Monroe Street

In [30]:
driver = webdriver.Chrome(options=options, service=service)
url = "http://35.223.40.184:5000"

scrape.reveal_secrets(driver, url, df)

'BASCOM HALL'

In [25]:
driver.close()